--- 

--- 

@import "{{ site.theme }}";

#titulo {
    vertical-align: middle;
    display: inline;
}

#titulo-logo {
    vertical-align: middle;
    height: 42px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    right: 50%;
    height: 40px;
    background: #ffcc00;
    border: 1px solid #f0b500;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 0px 2px 2px 0px;
    text-align: center;
    font: 28px 'Quattrocento Sans';
    padding-top: 10px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.btn:visited {
    color: #333;
}

.btn:hover {
    color: #666;
    background: #ffdd54;
}

.btn-blocked {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    right: 50%;
    height: 50px;
    background: #CCC;
    border: 1px solid #AAA;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 0px 2px 2px 0px;
    text-align: center;
    font: 28px 'Quattrocento Sans';
    padding-top: 5px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.btn-blocked:hover {
    cursor: not-allowed;
}

#plataformas {
    display: inline;
}

#banner .nome {
    display: inline;
}

#banner {
    display: block;
}

.plataformas {
    height: 16px;
    vertical-align: text-bottom;
}

nav{
    li a{
        padding-right: 0.2em;
        border-right: 2px solid #EAE6D1; 
        outline: none;
    }
}


nav .active {
    a{
        border-right: 2px solid #666;
    }
}

.atividade {
    display: block;
    list-style: none;
    padding: 0;
    width: 390px; //500px;
    margin-left: auto;
    align-items: center;
    margin-right: auto;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;

    li {
        margin-top: 10px;
        margin-bottom: 10px;
        vertical-align: center;
        width: 120px;
        display: inline-block;
    }

    a {
        text-align: center;
        display: block;
    }

    img {
        width: 56px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    span {
        display: block;
        text-align: center;
        margin-top: 4px;
        line-height: 14px;
        font-size: 14px;
    }
}


@media only screen and (max-width: 480px) {
    #plataformas {
        display: none;
    }

    #banner {
        top: 0px;
        position: relative;
    }
}

@media only screen and (max-width: 340px) {
    #titulo-logo {
        display: none;
    }

    #banner {
        .downloads {
            margin-right: 10px;
        }

        #logo {
            display: none;
        }
    }
}

@media only screen and (max-width: 640px) {
    #banner .nome {
        display: none;
    }

    .atividade {
        width: 154px; //210
        height: 48px;

        li {
            width: 48px;
        }

        img {
            width: 32px;
        }

        span {
            display: none;
        }
    }
}