<!doctype html>
<html lang="{{ site.lang | default: "pt-BR" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="mt09r5KXDq77uW-GRWevO-9Q9ZJitYWkdmEp8XJdG8Y" />
    <link rel="shortcut icon" type="image/x-icon" href="imgs/favicon.ico">
{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <header>
        <img src="imgs/favicon.ico" id="titulo-logo">
        <h1 id="titulo">Python para engenharia</h1>
        <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
      </header>

      <div id="banner">
        <a href="{{ site.github.repository_url }}" id="logo" target="_blank"></a>
          <div class="downloads">
            <span id="plataformas">Plataformas digitais:</span>
            <ul>
              <li>
                <a href="https://meet.google.com/" class="button" target="_blank">
                  <img src="imgs/meet.png" alt="Google Meet" class="plataformas">
                  <div class="nome">Meet</div>
                </a>
              </li>
              <li>
                <a href="https://classroom.google.com/" class="button" target="_blank">
                  <img src="imgs/classroom.png" alt="Google Classroom" class="plataformas">
                  <div class="nome">Classroom</div>
                </a>
              </li>
              <li>
                <a href="https://discord.com/download" class="button" target="_blank">
                  <img src="imgs/discord.png" alt="Discord" class="plataformas">
                  <div class="nome">Discord</div>
                </a>
              </li>
              <!--<li>
                <a href="" class="button">
                  <img src="imgs/youtube.png" alt="YouTube" class="plataformas" target="_blank">
                  <div class="nome">YouTube</div>
                </a>
              </li>-->
            </ul>
          </div>
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
<section style="padding: 30px 30px 25px 30px">
        {{ content }}

      </section>
      <footer>
        <img src="imgs/logo_ufac.png" alt="Logo da UFAC" style="width: 33%;max-width: 75px">
        <p><small>Curso de Engenharia Elétrica</br>Créditos do tema: <a href="https://github.com/pages-themes/leap-day">mattgraham</a></small></p>
      </footer>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
